{
	"AdminToken":"ExampleToken",
	"CallbackURL":"https://mydomain.example.com/FeedSubscriber", 
	"Subs":[
    {
      "TopicID": 0,
      "TopicURL": "https://www.youtube.com/xml/feeds/videos.xml?channel_id=my_channel_id",
      "HubURL": "https://pubsubhubbub.appspot.com/subscribe",
      "LastLease": "0001-01-01T00:00:00",
      "LeaseTime": 0,
      "Subscribed": false,
      "FeedConsumer": null,
      "FeedPublisher": null,
      "ConsumerData": null,
      "PublisherData": null
    }
	]
}