TOPIC=https://www.youtube.com/xml/feeds/videos.xml?channel_id=
CALLBACK_URL=
USERNAME=PubSubHubBubHook
WEBHOOK_URL=https://discord.com/api/webhooks/{webhookid}/{webhooktoken}
PUBLISH_TEXT=new vid lol\n
HUB_TOKEN=
HUB_SECRET=
HOOK_PFP=https://cdn.discordapp.com/attachments/784535910175735838/935557046747676732/unknown.png