@{
    ViewData["Title"] = "Login";
}
@model LoginModel

<form method="post">
    <h2 class="mb-3">Login</h2>

    <div class="mb-3">
        <input name="Username" class="form-control" placeholder="Username" autofocus/>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="Password" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>