@{
    ViewData["Title"] = "Login";
}
@model LoginModel
<h1>@ViewData["Title"]</h1>

<form method="post">
    <input name="Username" />
    <input type="password" name="Password" />
    <input type="submit" />
</form>