[web]
callbackurl = "https://example.url.net/Reciever"

[database]
connectionstring = "Server=localhost;Port=3306;Database=example;Uid=example;Pwd=example;Convert Zero Datetime=True"

[plugins]
usedefaultplugins = true